@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  &__title {
    margin-right: auto;
    color: $fcmed;
    width: 100%;
  }
  &__main-item {
    width: 100%;
    min-height: rem(230px);
    border: 0.5px solid $fclight05;
    border-radius: rem(3px);
    margin-bottom: rem(30px);
    padding: rem(15px);
  }
  &__main-item-title {
    position: relative;
    max-width: 45%;
    &:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: rem(25px);
      height: rem(2px);
      background-color: $white;
      bottom: rem(-10px);
      left: 0;
    }
    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: rem(25px);
      height: rem(2px);
      background-color: $white;
      top: rem(-10px);
    }
  }
  &__main-item-link {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &__item {
    width: 46.7%;
    border: 0.5px solid $fclight05;
    border-bottom: 0.5px solid $blue;
    border-radius: rem(3px);
    margin-bottom: rem(30px);
    &:nth-of-type(2n+1) {
      margin-right: rem(40px);
    }
  }
  &__item-img-link {
    width: 100%;
  }
  &__item-short-desc {
    padding: 0 rem(15px);
  }
  &__item-short-desc-link-min {
    margin-bottom: rem(10px);
    text-transform: uppercase;
    font-size: $fz11;

  }
  &__item-short-desc-title {
    position: relative;
    color: $fcmed;
    margin-bottom: rem(10px);
    margin-top: 0;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      @include commas($orange, rem(25px));
      margin-left: rem(3px);
      margin-top: rem(-6px);
    }
  }
  &__item-img {
    display: block;
    margin: 0 auto;
    width: 99.5%;
    max-height: rem(160px);
    object-fit: cover;
  }
}







