@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";
.main-nav {
  margin-left: auto;
  position: relative;
}

.main-nav__link {
  position: relative;
  padding: rem(20px);
  padding-right: rem(37px);
  cursor: pointer;
  color: $fclight;
  font-weight:bold;
  &:hover {
    background-color: $white;
  }
  &:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border: rem(6px) solid transparent;
    border-top-color: $fclight;
    margin: 0;
    padding: 0;
    top: rem(30px);
    right: rem(14px);
  }
}

.main-nav__list {
  display: none;
  position: absolute;
  top: rem(42px);
  background-color: $white;
  border-left: 0.5px solid $fclight05;
  border-right: 0.5px solid $fclight05;
  box-shadow: 0 3px 2px -2px $bordergray;
  border-bottom-left-radius: rem(3px);
  border-bottom-right-radius: rem(3px);
  &-item {
    font-family: $sans;
    padding: rem(10px);
    &:not(:last-of-type) {

    }
    &-link {
      padding: rem(10px);
      font-weight: bold;
      color: $fclight;
      &:hover {
        color: $lightblue;
      }
    }
  }
}