@import "../misc/variables.scss";
@import "../misc/functions.scss";
@import "../misc/mixins.scss";
@import "../misc/media.scss";

.slider {
  display: flex;
  justify-content: center;
  margin: 0 rem(30px);
  &__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    overflow: hidden;
  }
  &__arrow {
    font-size: 30px;
  }
  &__arrow-left {
    position: absolute;
    left: rem(0px);
    top: 50%;
    z-index: 10000;
  }
  &__arrow-right {
    position: absolute;
    right: rem(0px);
    top: 50%;
    z-index: 10000;
  }
  &__items {
    display: flex;
    position: relative;
    color: #444;
    will-change: right;
    transition: right 0.3s;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #444;
    &:not(:last-of-type) {
      margin-right: 90px;
    }
    &:first-of-type {

    }
    &:last-of-type {
      margin-right: 300px;
    }
    width: 200px;
  }
  &__img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}

