@import "../misc/_variables";
@import "../misc/_functions";
@import "../misc/_mixins";
@import "../misc/_media";

.section__main-item-travel {
  background-image: url('../../img/5645.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

.section__item-travel {

}