doctype html
html(lang = 'ru-RU')
    head
        link(rel="stylesheet", href="css/main.css")
    body
        .search q78978
            .search2 HELLO FROM PUG
                .search3 assadasd
        h1.privet HELLO
        section.second
            h2.h2 Q FROM h2
                ul
                    a
                        li 1
                    a
                        li 2
                    a
                        li 1
                    a
                        li 2
                h3.h3 norm spisok
