<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="../css/main.css")
  body
    .main
      h1.title HELLO FROM PUG
      .container
        .square.square1 i'am square with scss styles
        .square.square2 i'am square with scss styles
        .square.square3 i'am square with scss styles
  script(src="../js/libs.min.js") 
  script(src="../js/bundle.js")
 
