doctype html
html(lang = 'ru-RU')
  head
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/libs.min.css")
  body
    h1.pug Pug is ready
    h2.scss SCSS is ready
  script(src="js/libs.min.js")
  script(src="js/bundle.js")

