.featured-topics
  h2.featured-topics__title Мы самые крутые читайте нас
  span.featured-topics__text Мы самые круьые потому что самые крутые, читайте нас и будете крутыми
  .slider__cont
    .slider
      div(id='slider-sldrItems').slider__items
        .slider__item
          img(src='../img/AN1.jpg').slider__img
          a(href='#').slider__item-link Ссылка1
        .slider__item
          img(src='../img/AN1.jpg').slider__img
          a(href='#').slider__item-link Ссылка2
        .slider__item
          img(src='../img/AN1.jpg').slider__img
          a(href='#').slider__item-link Ссылка3
        .slider__item
          img(src='../img/AN1.jpg').slider__img
          a(href='#').slider__item-link Ссылка4
        .slider__item
          img(src='../img/AN1.jpg').slider__img
          a(href='#').slider__item-link Ссылка5
        .slider__item
          img(src='../img/AN1.jpg').slider__img
          a(href='#').slider__item-link Ссылка6
        .slider__item
          img(src='../img/AN1.jpg').slider__img
          a(href='#').slider__item-link Ссылка7
        .slider__item
          img(src='../img/AN1.jpg').slider__img
          a(href='#').slider__item-link Ссылка8
  a(href='#', id='slider-arrow-sldrRightArrow').slider__arrow.slider__arrow-right >
  a(href='#', id='slider-arrow-sldrLeftArrow').slider__arrow.slider__arrow-left <
  a(href='#').featured-topics__link Смотреть еще

