$desktop: 1281px;
$laptop: 1025px;
$tablets: 801px;
$phones: 480px;

$pro: 'Maven Pro',
Helvetica,
sans-serif;
$sans: 'Open Sans',
Helvetica,
sans-serif;
$lora: 'Lora',
Helvetica,
sans-serif;

$bordergray: rgba(154, 165, 173, 1);
$softwhite: rgba(247, 247, 247, 1);
$softgray: rgba(224, 224, 224, 1);
$softgreen: rgba(206, 224, 128, 1);
$fclight05: rgba(153, 153, 153, .5);
$fclight: rgba(153, 153, 153, 1);
$fcmed: rgba(33, 30, 31, 1);
$fcmed2: rgba(84, 84, 84, 1);
$fcmed3: rgba(105, 105, 105, 1);
$links: rgba(0, 125, 164, 1);
$linkshov: rgba(236, 28, 130, 1);
$blue: rgba(71, 146, 178, 1);
$darkblue: rgba(24, 117, 154, 1);
$orange: rgba(240, 138, 114, 1);
$violet: rgba(128, 108, 173, 1);
$white: rgba(255, 255, 255, 1);
$lightblue: rgba(68, 194, 214, 1);

$fz11: rem(11px);
$fz14: rem(14px);
$fz20: rem(20px);
$fz30: rem(30px);

$lhmin: 1.15;

//rgba(185, 191, 192, 1);


